[project]
name = "qbpm"
version = "1.0-rc2"
description = "qutebrowser profile manager"
license = { file = "LICENSE" }
readme = "README.md"
authors = [{ name = "Peter Rice", email = "peter@peterrice.xyz" }]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Typing :: Typed",
]
requires-python = ">= 3.9"
dependencies = ["pyxdg", "click"]

[project.urls]
repository = "https://github.com/pvsr/qbpm"

[project.scripts]
qbpm = "qbpm.main:main"

[tool.setuptools]
packages = ["qbpm"]

[tool.mypy]
disallow_untyped_defs = true
disallow_any_unimported = true
no_implicit_optional = true
check_untyped_defs = true
warn_return_any = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = "xdg.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "tests.*"
disallow_untyped_defs = false
